body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
    display: contents;
    align-items: center;
    height: 100vh;
    color:#0056b3;
    
}

.container{
    padding:10px;
}
.main{
    width:80%;
    min-width:500px;
    margin:auto; 
    overflow-x: auto;

    border:  1px solid black;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color:black;
}
h1 {
    text-align: center;
    margin-bottom: 24px;
    color:black;
}

.attendees{
    text-align: left;
    width: 100%; /* Set your desired width */
    overflow-x: scroll; /* Allow horizontal scroll */
    white-space: nowrap; /* Prevent text from wrapping */
    border: 1px solid #ccc; /* Optional: Add border for clarity */
    padding: 10px; /* Optional: Add padding for spacing */
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.attendies ul {
    list-style-type: none;
    padding: 0;
}

.attendies li {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.attendies li:nth-child(even) {
    background-color: #e9e9e9;
}


table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: 'break-word';
    
}

th {
    padding: 8px;
    background-color: #f2f2f2;
    
}
button {
    white-space:normal;
    min-height: 50px;
    height: 100%;
    background-color: #007bff;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    
}
button:hover {
    background-color: #0056b3;
}
