body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
    display: contents;
    align-items: center;
    height: 100vh;
    color:#0056b3;
    
}

.container{
    padding:10px;
    min-height: 50vh;
    max-width: 85vw;
    margin:auto;
    margin-bottom: 20px;
    
}
.main{
    width:90%;
    min-width:500px;
    margin:auto; 
    overflow-x: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color:black;
}
h1 {
    text-align: center;
    margin-bottom: 24px;
    color:black;
}

.display_conferences{
    width: 100%; /* Set your desired width */
    overflow-x: scroll; /* Allow horizontal scroll */
    white-space: nowrap; /* Prevent text from wrapping */
    border: 1px solid #ccc; /* Optional: Add border for clarity */
    border-collapse: collapse;
    padding: 10px; /* Optional: Add padding for spacing */
}
.description-column {
    width: 300px;
    word-wrap: break-word;
}

button {
    white-space:normal;
    min-height: 50px;
    height: 100%;
    background-color: #007bff;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    
}
button:hover {
    background-color: #0056b3;
}


table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: 'break-word';
    
}

th {
    padding: 8px;
    background-color: #f2f2f2;
    
}
